@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Acme');
h1{
  color: white;
  font-size: 50px;
  position: relative;
  text-align: center;
  top: 20px;
  background-color: blue;
  font-family: 'Acme', sans-serif;
  width: 960px;
}
nav li{
  display: inline-block;
  margin-right: 35px;
  position: relative;
}
img{
  height: 300px;
  width: 244px;
  position: relative;
  box-shadow:  5px 0px 20px blue;
}
#container{
  max-width: 960px;
  min-width: 950px;
  margin: 0 auto;
  position: relative;
  background-color: white;
}

nav{
  position: relative;
  text-align: center;
}
#leftcolumn{
  position: relative;
  width: 240px;
  bottom: 5px;
  border: 2px solid black;
}
#maincolumn{
  position: relative;
  width: 720px;
  float: right;
  bottom: 820px;
  left: 20px;
}
#maincolumn2{
  width: 720px;
  position: relative;
  float: right;
  bottom: 820px;
  left: 20px;
}
ul{
  list-style-type: none;
}
#ContactInfo{
  text-align: center;
}
#Address{
  text-align: center;
}
#Education{
  text-align: center;
}
h2{
  font-family: 'Abril Fatface', cursive;
  color: blue;
}
nav a:active{
  color: blue;
}
nav a:visited{
  color: purple;
}
nav a{
  text-decoration: none;
}
nav a:hover{
  color: red;
}
#ContactInfo p{
  margin: 10px;
  position: relative;
  bottom: 10px;
}
#Address p{
  margin: 10px;
  position: relative;
  bottom: 10px;
}
#Education p{
  margin: 10px;
  position: relative;
  bottom: 10px;
}
#Education li{
  margin: 10px;
  bottom: 10px;
  position: relative;
  right: 17px;
}
#Experience li{
  margin: 10px;
}
#Experience p{
  margin: 10px;
}
#maincolumn2 li{
  margin: 10px;
}
iframe{
  height: 460px;
  width: 800px;
  position: relative;
  left: 53px;
  background-color: black;
}
#indexcontainer{
  max-width: 960px;
  min-width: 940px;
  position: relative;
  margin: 0 auto;
  background-color: white;
}
#mainmenu{
  position: relative;
  width:20px;
  float: right;
  bottom: 1474px;
  left: 608px;
}
#mainmenu a{
  text-decoration: none;
}
#mainmenu li{
  position: relative;
  margin-left: 0px;
  margin: 10px;
}
#mainmenu2{
  position: relative;
  float: right;
  width: 20px;
  right: 112px;
  bottom: 7px;

}
#mainmenu2 a{
  text-decoration: none;
}
#mainmenu2 li{
  position: relative;
  margin-left: 0px;
  margin: 10px;
}
h3{
  font-family: 'Abril Fatface', cursive;
  color: blue;
  position: relative;
  top: 15px;
  font-size: 25.5px;
}
#aboutmediv{
  width: 480px;
  position: relative;
  left: 20px;
}
#sportscontainer{
  max-width: 960px;
  min-width: 940px;
  position: relative;
  margin: 0 auto;
  background-color: white;
}
#mainmenu3{
  position: relative;
  float: right;
  width: 20px;
  right: 112px;
  bottom: 7px;
}
#mainmenu3 a{
  text-decoration: none;
}
#mainmenu3 li{
  position: relative;
  margin-left: 0px;
  margin: 10px;
}
#indians{
  position: relative;
  top: 20px;
  left: 20px;
}
article img{
  position: relative;
  height: 350px;
  width: 650px;
}
#miami img{
  position: relative;
  top: 15px;
}
#miami strong{
  position: relative;
  top: 10px;
}
#miami{
  position: relative;
  left: 20px;
}
#miami2{
  position: relative;
  top: 10px;
  left: 20px;
}
#comedy{
  max-width: 960px;
  min-width: 940px;
  position: relative;
  margin: 0 auto;
  background-color: white;
}
#mainmenu4{
  position: relative;
  float: right;
  width: 20px;
  right: 112px;
  bottom: 7px;
}
#mainmenu4 a{
  text-decoration: none;
}
#mainmenu4 li{
  position: relative;
  margin-left: 0px;
  margin: 10px;
}
div #turkey{
  position: relative;
  max-width: 820px;
  margin: 0;
  left: 30px;
}
h4{
  position: relative;
  text-decoration: underline;
  font-size: 20px;
  top: 10px;
}
#mainmenu4 strong{
  text-decoration: underline;
}
#mainmenu3 strong{
  text-decoration: underline;
}
#mainmenu strong{
  text-decoration: underline;
}
#mainmenu2 strong{
  text-decoration: underline;
}
#mainmenu4 a:active{
  color: blue;
}
#mainmenu3 a:active{
  color: blue;
}
#mainmenu2 a:active{
  color:blue;
}
#mainmenu a:active{
  color: blue;
}
#mainmenu a:visited{
  color: purple;
}
#mainmenu2 a:visited{
  color: purple;
}
#mainmenu3 a:visited{
  color: purple;
}
#mainmenu4 a:visited{
  color: purple;
}
#indians strong{
  text-decoration: underline;
  font-size: 20px;
}
#miami strong{
  text-decoration: underline;
  font-size: 20px;
}
#miami2 strong{
  text-decoration: underline;
  font-size: 20px;
}
#cws{
  position: relative;
  float: right;
  bottom: 355px;
  right: 75px;
}
#cws img{
  width: 320px;
  height: 350px;
}
