@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Acme');
h1{
  color: white;
  font-size: 50px;
  position: relative;
  text-align: center;
  top: 20px;
  background-color: blue;
  font-family: 'Acme', sans-serif;
}
nav li{
  display: inline-block;
  margin-right: 35px;
  position: relative;
}
img{
  height: 300px;
  width: 244px;
  position: relative;
  box-shadow:  5px 0px 20px blue;
}
#container{
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

nav{
  position: relative;
  text-align: center;
}
#leftcolumn{
  position: relative;
  width: 240px;
  bottom: 5px;
  border: 2px solid black;
}
#maincolumn{
  position: relative;
  width: 720px;
  float: right;
  bottom: 820px;
  left: 20px;
}
#maincolumn2{
  width: 720px;
  position: relative;
  float: right;
  bottom: 820px;
  left: 20px;
}
ul{
  list-style-type: none;
}
#ContactInfo{
  text-align: center;
}
#Address{
  text-align: center;
}
#Education{
  text-align: center;
}
h2{
  font-family: 'Abril Fatface', cursive;
  color: blue;
}
nav a:active{
  color: blue;
}
nav a:visited{
  color: purple;
}
nav a{
  text-decoration: none;
}
nav a:hover{
  color: red;
}
#ContactInfo p{
  margin: 10px;
  position: relative;
  bottom: 10px;
}
#Address p{
  margin: 10px;
  position: relative;
  bottom: 10px;
}
#Education p{
  margin: 10px;
  position: relative;
  bottom: 10px;
}
#Education li{
  margin: 10px;
  bottom: 10px;
  position: relative;
  right: 17px;
}
#Experience li{
  margin: 10px;
}
#Experience p{
  margin: 10px;
}
#maincolumn2 li{
  margin: 10px;
}
